
.banner {
  height: 898px;
  padding: 25px 0 50px;
}

.banner__container {
  position: relative;
  height: 100%;
}

.banner__block {
  position: relative;
  margin-bottom: 30px;
}

.banner__block:before {
  content: "";
  position: absolute;
  top: 61px;
  z-index: 1;
  width: 100%;
  height: 762px;
  background-image: url("../img/section_banner/man.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.page__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.page__subtitle {
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
}

.banner__box {
  display: flex;
  align-items: flex-end;
  column-gap: 40px;
  margin-bottom: 150px;
}

.box-column {
  text-align: center;
}

.box-column_first {
  flex-basis: 193px;
}

.box-column__number {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--color-purple-bright, #cd06ff);
}

.box-column__text {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.box-column_second {
  flex-basis: 166px;
}

.box-column__label {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: var(--color-purple-bright, #cd06ff);
}

.button {
  position: relative;
  z-index: 2;
  width: 374px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--color-purple-dark, #6c0287);
  color: var(--color-white);
  box-shadow: 0 0 20px 1px var(--color-purple-dark, #6c0287);
  border-radius: 10px;
  transition: background-color .3s ease-in-out;
}

.button:hover, .button:focus  {
  background-color: var( --color-purple, #840aa3);
}

.button:active {
  background-color: var(--color-lilac, #640aa3);
}

.main__link {
  position: relative;
  bottom: 33px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  width: 97px;
  height: 97px;
  outline: 1px solid transparent;
  transform: translate(-50%, 0px);
  transition: outline-color .2s ease-in;
}

.main__link-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  transition: background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

.main__link-fullscreen:before,
.main__link-fullscreen:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 2px;
  background-color: var(--color-white);
  transition: background-color .2s ease-in;
}

.main__link-fullscreen:before {
  transform: translateX(-81%)  rotate(45deg);
}

.main__link-fullscreen:after {
  transform: translateX(-16%) rotate(-45deg);
}

.main__link-fullscreen:hover {
  background-color: var(--color-white);
}

.main__link-fullscreen:hover:before, .main__link-fullscreen:hover:after {
  background-color: var(--color-purple-dark, #6c0287);
}

.main__link:focus {
  outline-color: var(--color-purple-bright, #cd06ff);
}

.main__link-fullscreen:focus:before, .main__link-fullscreen:focus:after {
  background-color: var(--color-white);
}

.main__link:active {
  outline: none;
}

.main__link-fullscreen:active {
  background-color: var(--color-purple-bright, #cd06ff);
  border-color: var(--color-purple-bright, #cd06ff);
}

.main__link-fullscreen:active:before, .main__link-fullscreen:active:after {
  background-color: var(--color-white);
}


