
.benefits {
  padding-top: 51px;
  padding-bottom: 120px;
}

.benefits__title {
  max-width: 800px;
  margin: 0 auto 41px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 380px));
  grid-template-rows: repeat(2, minmax(auto, 228px));
  gap: 40px 20px;
}

.benefits__item {
  display: grid;
  align-content: end;
  grid-template-columns: minmax(auto, 340px);
  grid-template-rows: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-property: transform, filter;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  padding-bottom: 6px;
}

.benefits__item:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 4px #666666);
}

.benefits__item_vr {
  background-image: url("../img/section_benefits/vr.jpg");
}

.benefits__item_audio {
  background-image: url("../img/section_benefits/audio.jpg");
  transform: translateY(70px);
}

.benefits__item_audio:hover {
  transform: translateY(70px) scale(1.1);
}

.benefits__item_karaoke {
  background-image: url("../img/section_benefits/karaoke.jpg");
}

.benefits__item_desktop {
  background-image: url("../img/section_benefits/desktop.jpg");
}

.benefits__item_cinema_services {
  background-image: url("../img/section_benefits/cinema-services.jpg");
  transform: translateY(69px);
}

.benefits__item_cinema_services:hover {
  transform: translateY(69px) scale(1.1);
}

.benefits__item_playstation {
  background-image: url("../img/section_benefits/playstation.jpg");
}

.benefits__text {
  font-weight: 700;
  line-height: 28px;
  padding-left: 40px;
}

.benefits__text_narrow {
  max-width: 280px;
}

@media (max-width: 1128px) {

  .benefits__text {
    padding-left: 20px;
  }
}

@media (max-width: 1024px) {

  .benefits {
    padding-top: 41.5px;
    padding-bottom: 87px;
  }

  .benefits__container {
    max-width: 964px;
  }

  .benefits__title {
    max-width: 650px;
    margin: 0 auto 36px;
  }

  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .benefits__list {
    grid-template-columns: repeat(3, minmax(auto, 287px));
    grid-template-rows: repeat(2, minmax(auto, 172px));
    gap: 30px 22px;
  }

  .benefits__item {
    grid-template-columns: minmax(auto, 267px);
    padding-bottom: 2px;
  }

  .benefits__item_cinema_services {
    grid-template-rows: 84px;
    padding-bottom: 5px;
  }
}

@media (max-width: 949px) {

  .benefits__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(auto, 228px));
    gap: 20px;
  }

  .benefits__item:hover {
    transform: unset;
    filter: unset;
  }

  .benefits__item_audio {
    transform: unset;
  }

  .benefits__item_cinema_services {
    transform: unset;
  }
}

@media (max-width: 768px) {

  .benefits {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .benefits__container {
    max-width: 748px;
  }

  .benefits__title {
    max-width: 500px;
    margin: 0 auto 30px;
  }

  .title {
    font-size: 24px;
    line-height: 36px;
  }

  .benefits__list {
    grid-template-rows: repeat(3, minmax(auto, 200px));
  }

  .benefits__item {
    grid-template-columns: minmax(auto, 304px);
    padding-bottom: 12px;
  }

  .benefits__item_cinema_services {
    grid-template-rows: unset;
    padding-bottom: 12px;
    padding-right: 12px;
  }

  .benefits__text {
    padding-left: 30px;
  }
}

@media (max-width: 664px) {

  .benefits__list {
    grid-template-rows: repeat(3, minmax(auto, 150px));
  }

  .benefits__item {
    padding-bottom: 3px;
  }

  .benefits__item_cinema_services {
    padding-bottom: 3px;
  }

  .benefits__text {
    font-size: 16px;
    padding-left: 10px;
  }
}

@media (max-width: 545px) {

  .benefits__title {
    max-width: 390px;
    margin: 0 auto 15px;
  }

  .title {
    font-size: 18px;
    line-height: 30px;
  }

  .benefits__list {
    grid-template-rows: repeat(3, minmax(auto, 128px));
    gap: 10px;
  }

  .benefits__item {
    grid-template-columns: minmax(auto, 125px);
  }

  .benefits__text {
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 452px) {

  .benefits {
    padding-top: 23px;
    padding-bottom: 15px;
  }

  .benefits__title {
    max-width: 300px;
  }

  .title {
    font-size: 15px;
    line-height: 26px;
  }

  .benefits__list {
    grid-template-rows: repeat(3, minmax(auto, 100px));
  }

  .benefits__text_narrow {
    max-width: 90px;
  }
}

@media (max-width: 320px) {

  .benefits__container {
    max-width: 310px;
  }

  .benefits__title {
    max-width: 300px;
  }

  .title {
    font-size: 14px;
    line-height: 18px;
  }

  .benefits__list {
    grid-template-rows: repeat(3, minmax(auto, 75px));
  }

  .benefits__item {
    padding-bottom: 10px;
  }

  .benefits__item_karaoke {
    padding-bottom: 4px;
  }

  .benefits__item_audio {
    padding-bottom: 3px;
  }

  .benefits__item_cinema_services {
    padding-bottom: 3px;
  }

  .benefits__text {
    align-self: center;
  }
}
