
.booking {
  background-color: #440f51;
  padding: 80px 0;
}

.booking__title {
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.book__body {
  margin-bottom: 40px;
}

.book__block:not(:last-child) {
  margin-bottom: 60px;
}

.book-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.book__title {
  margin-bottom: 40px;
}

.book-hall-list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.book-hall-list__item {
  flex-basis: 250px;
  min-height: 55px;
  position: relative;
}

.book-hall-list__input {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.book-hall-list__input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 55px;
  background-color: var(--color-white, #fff);
  border: 3px solid var(--color-white, #fff);
  border-radius: 8px;
  transition-property: background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.book-hall-list__input:hover:before {
  background-color: var(--color-purple-light, #dfcee4);
  border-color: var(--color-lilac, #640aa3);
}

.book-hall-list__input:checked:before {
  background-color: var(--color-purple-dark, #6c0287);
  border-color: var(--color-white, #fff);
}

.book-hall-list__input:checked + .book-hall-list__text {
  color: var(--color-white, #fff);
}

.book-hall-list__input:focus:before {
  background-color: var(--color-white, #fff);
  border-color: var(--color-lilac, #640aa3);
}

.book-hall-list__input:focus + .book-hall-list__text {
  color: var(--color-black, #000);
}

.book-hall-list__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black, #000);
  transition: color .2s linear;
}

.book__block_narrow {
  max-width: 980px;
  margin: 0 auto;
}

.entertainment-list {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.entertainment-list__column {
  flex-basis: 280px;
}

.entertainment-list__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

.entertainment-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.entertainment-content__item {
  position: relative;
  display: flex;
  align-items: center;
}

.entertainment-content__input {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.entertainment-content__input:focus {
  outline-color: var(--color-purple-bright, #cd06ff);
  transition: outline-color .3s ease-in;
}

.entertainment-content__input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white, #fff);
}

.entertainment-content__input:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--color-black, #000);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.entertainment-content__input_radio:before,
.entertainment-content__input_radio:after {
  border-radius: 50%;
}

.entertainment-content__input:checked:after {
  opacity: 1;
  transition: outline-color .2s ease-in;
}

.entertainment-content__text {
  font-size: 22px;
  line-height: 25px;
  padding-left: 39px;
}

.book__title_margin_bottom {
  margin-bottom: 38px;
}

.datetime {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  flex-wrap: wrap;
}

.datetime__column-first {
  flex-basis: 300px;
  align-self: flex-end;
}

.datetime-column__block {
  display: flex;
  column-gap: 32px;
  margin-bottom: 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 134px;
  height: 52px;
  background-color: var(--color-white, #fff);
}

.dropdown__text {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.dropdown__input {
  width: 100%;
  height: 100%;
  background-image: url("../img/section_booking/triangle.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid var(--color-white, #fff);
  transition: border-color .2s ease-in;
}

.dropdown__input::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dropdown__input:focus-visible {
  outline: none;
  padding-left: 10px;
}

.dropdown__input:focus {
  border-color: var(--color-purple-bright, #cd06ff);
}

.dropdown_large {
  width: 100%;
}

.datetime__column-second {
  flex-basis: 280px;
}

.datetime-column__label:not(:last-child) {
  display: block;
  margin-bottom: 14px;
}

.datetime-column__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.datetime-column__input {
  width: 100%;
  height: 52px;
  border: 2px solid var(--color-white, #fff);
  transition: border-color .2s ease-in;
}

.datetime-column__input:focus-visible {
  outline: none;
  padding-left: 10px;
}

.datetime-column__input:focus {
  border-color: var(--color-purple-bright, #cd06ff);
}

.datetime__column-third {
  flex-basis: 300px;
}

.book__block-btn {
  display: flex;
  justify-content: flex-end;
}

.btn {
  flex-basis: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-purple-dark, #6c0287);
  background-color: var(--color-white, #fff);
  border: 3px solid var(--color-white, #fff);
  border-radius: 10px;
  transition-property: background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: var(--color-purple-light, #dfcee4);
  border-color: var(--color-purple-dark, #6c0287);
}

.btn:focus {
  background-color: var(--color-white, #fff);
  border-color: var(--color-purple-dark, #6c0287);
}

.btn:active {
  background-color: var(--color-purple-light, #dfcee4);
  border-color: var(--color-purple-light, #dfcee4);
}























