
.contacts {
  background: linear-gradient(180deg, #1b1A1b 0%, #370a37 100%);
  padding: 55px 0 78px;
}

.contacts__title {
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
}

.contacts__address {
  display: flex;
  align-items: center;
  column-gap: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  margin-bottom: 35px;
}

.icon {
  flex: 0 0 32px;
  height: 32px;
}

.contacts__phone {
  display: flex;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 11px;
}

.contacts-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts-link:hover {
  color: #dfcee4;
  transition: all 0.5s ease;
}

.contacts__mail {
  display: flex;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 35px;
}

.social {
  display: inline-flex;
  column-gap: 26px;
}

.social__item {
  flex: 0 0 48px;
  height: 48px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  transition-property: color, outline-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}

.social__link:hover {
  color: #eadeed;
}

.social__link:focus {
  color: #eadeed;
  outline: 1px solid #cd06ff;
  border-radius: 0;
}

.social__link:active {
  color: #cd06ff;
  border-radius: 50%;
}

.social-icon {
  width: 48px;
  height: 48px;
}

.contacts-body__map {
  flex: 0 1 680px;
  height: 274px;
}
