
.contacts {
  background: linear-gradient(180deg, var(--bg-color-main, #1b1a1b) 0%, var(--bg-footer, #370a37) 100%);
  padding: 55px 0 72.5px;
}

.contacts__title {
  margin-bottom: 46px;
}

.contacts-body {
  display: grid;
  grid-template-columns: auto minmax(auto, 680px);
  grid-template-rows: auto;
  column-gap: 60px;
}

.contacts__address {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  margin-bottom: 42px;
}

.contacts__icon-location {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.contacts__phone {
  display: flex;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 8px;
}

.icon {
  flex: 0 0 32px;
  height: 32px;
}

.contacts-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  transition: color 0.4s;
}

.contacts-link:hover {
  color: var(--color-purple-light, #dfcee4);
}

.contacts__mail {
  display: flex;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 37px;
}

.social {
  display: inline-flex;
  column-gap: 28px;
}

.social__item {
  flex: 0 0 48px;
  height: 48px;
}

.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  outline: 1px solid transparent;
  transition-property: color, outline-color;
  transition-duration: .3s, .2s;
  transition-timing-function: ease-in-out;
}

.social__link:hover {
  color: var(--color-purple-light, #dfcee4);
}

.social__link:focus {
  color: var(--color-purple-light, #dfcee4);
  outline-color: var(--color-purple-bright, #cd06ff);
}

.social__link:active {
  color: var(--color-purple-bright, #cd06ff);
  outline: none;
}

.contacts-body__map {
  display: block;
  width: 100%;
  height: 274px;
}

@media (max-width: 1024px) {

  .contacts {
    padding-top: 12px;
    padding-bottom: 46px;
  }

  .contacts__container {
    max-width: 964px;
  }

  .contacts__title {
    margin-bottom: 26px;
  }

  .contacts-body {
    column-gap: 50px;
  }

  .contacts__address {
    grid-template-columns: 26px auto;
    column-gap: 13px;
    margin-bottom: 44px;
  }

  .contacts__phone {
    column-gap: 14px;
  }

  .icon {
    flex: 0 0 26px;
    height: 26px;
  }

  .contacts__mail {
    column-gap: 13px;
    margin-bottom: 39px;
  }

  .social {
    column-gap: 26px;
  }

  .social__item {
    flex: 0 0 40px;
    height: 40px;
  }
}

@media (max-width: 850px) {

  .contacts-body {
    column-gap: 13px;
  }
}

@media (max-width: 768px) {

  .contacts {
    padding-top: 10px;
    padding-bottom: 37.5px;
  }

  .contacts__container {
    max-width: 748px;
  }

  .contacts__title {
    margin-bottom: 30px;
  }

  .contacts-body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 31px;
  }

  .contacts-body__block {
    display: grid;
    grid-template-columns: minmax(auto, 380px);
    justify-items: center;
  }

  .contacts__address {
    column-gap: 9px;
    margin-bottom: 32px;
    transform: translateX(9px);

  }

  .contacts__icon-location {
    grid-column: 1;
    grid-row: 1;
    transform: translateX(13px);
  }

  .contacts__city {
    grid-column: 2 / 3;
    grid-row: 1;
    transform: translateX(15px);
  }

  .contacts__street {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .contacts__phone {
    transform: translateX(-5px);
    margin-bottom: 27px;
  }

  .contacts__mail {
    transform: translateX(-14px);
    margin-bottom: 26px;
  }

  .social {
    column-gap: 23px;
    transform: translateX(15px);
  }

  .social__item_pinterest {
    transform: translateX(5px);
  }

  .social__item_stumbleupon {
    transform: translateX(8px);
  }

  .contacts-body__map {
    height: 337px;
  }
}

@media (max-width: 702px) {

  .contacts__address {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .contacts__phone {
    margin-bottom: 18px;
  }

  .contacts-link {
    font-size: 18px;
  }
}

@media (max-width: 642px) {

  .contacts-body__map {
    height: 194px;
  }
}

@media (max-width: 545px) {

  .contacts-body {
    row-gap: 35px;
  }

  .contacts__address {
    grid-template-columns: 20px auto;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    transform: translateX(5px);
  }

  .contacts__icon-location {
    transform: translateX(0);
  }

  .contacts__city {
    transform: translateX(0);
  }

  .contacts__phone {
    column-gap: 6px;
    margin-bottom: 10px;
    transform: translateX(0);
  }

  .icon {
    flex: 0 0 20px;
    height: 20px;
  }

  .contacts-link {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__mail {
    column-gap: 6px;
    margin-bottom: 8px;
    transform: translateX(-5px);
  }

  .social {
    column-gap: 20px;
    transform: translateX(38px);
  }

  .social__item_pinterest {
    transform: translateX(0);
  }

  .social__item_stumbleupon {
    transform: translateX(0);
  }

  .social__item {
    flex: 0 0 30px;
    height: 30px;
  }
}

@media (max-width: 452px) {

  .contacts {
    padding-top: 7px;
    padding-bottom: 31.5px;
  }

  .contacts__title {
    margin-bottom: 12px;
  }
}

@media (max-width: 320px) {

  .contacts__container {
    max-width: 310px;
  }
}
