
.faq {
  padding: 50px 0 45px;
}

.faq__title {
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.faq-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background-color: #440f51;
  padding: 0 70px;
}

.faq-list__item:nth-child(odd) {
  background-color: #fff;
  color: #1c1a1a;
}

.faq-list__open {
  flex: 0 0 46px;
  height: 46px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 50%;
  transition-property: background-color, border-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.faq-list__open:before,
.faq-list__open:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  background-color: #fff;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.faq-list__open:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.faq-list__open:after {
  transform: translate(-50%, -50%);
}

.faq-list__open_purple {
  border-color: #6c0287;
}

.faq-list__open_purple:before,
.faq-list__open_purple:after {
  background-color: #6c0287;
}

.faq-list__open_purple:hover {
  background-color: #6c0287;
}

.faq-list__open_purple:hover:before,
.faq-list__open_purple:hover:after {
  background-color: #fff;
}

.faq-list__open_purple:active {
  background-color: transparent;
}

.faq-list__open_purple:active:after {
  background-color: #6c0287;
}

.faq-list__open_purple:active:before {
  transition: 5s;
  opacity: 0;
}

.faq-list__open_white:hover {
  background-color: #fff;
}

.faq-list__open_white:hover:before,
.faq-list__open_white:hover:after {
  background-color: #6c0287;
}

.faq-list__open_white:active {
  background-color: transparent;
}

.faq-list__open_white:active:after {
  background-color: #fff;
}

.faq-list__open_white:active:before {
  opacity: 0;
}
